name: Build and Test

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') || github.event_name == 'workflow_dispatch' }}
    name: Build and test
    strategy:
      matrix:
        node:
          - { name: Current, version: current }
          - { name: LTS,     version: lts/* }
    permissions:
      contents: read
      packages: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            npm.pkg.github.com:443
            objects.githubusercontent.com:443
            pkg-npm.githubusercontent.com:443
            registry.npmjs.org:443

      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@96017f90942616677d9fdad3cf29cefcec02d795 # master
        with:
          node-version: ${{ matrix.node.version }}
          registry-url: https://npm.pkg.github.com
